/* NProgress 自定义样式 */

/* 进度条容器 */
#nprogress {
  pointer-events: none;
}

/* 进度条本身 */
#nprogress .bar {
  background: linear-gradient(90deg, rgb(175, 64, 255), rgb(91, 66, 243) 50%, rgb(0, 221, 235));
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* 进度条光晕效果 */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 221, 235, 0.6), 0 0 8px rgba(91, 66, 243, 0.4);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* 加载指示器(如果启用) */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: rgb(175, 64, 255);
  border-left-color: rgb(0, 221, 235);
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

/* 淡入淡出动画 */
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
